/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root{
    /* Color Scheme */
    --primary01-color: #FFDF00;
    --primary02-color: #DCB905;
    --primary03-color: #BF9504;
    --primary04-color: #89720A;

    --black-color: #181818;

    --grey01-color: #C0C0C0;
    --grey02-color: #E8E8E8;
    --grey03-color: #F9F9F9; 
    
    /* Typography */
    --font01-font-family: 'Faster One', cursive;
    --font02-font-family: 'Play', sans-serif;
}
html {
    font-size: 16px;
}
body{
    padding: 1rem;
    background-color: var(--grey03-color);
    border: solid 1px black;
}

header{
    height: 10rem;
    background-color: var(--primary01-color);
    text-align: center;
    border-radius: .5rem;

    position: relative;
}

.logoHeader{
    /* centering text vertical & horizontal*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    font-family: var(--font01-font-family);
    font-size: 4.5rem;
    padding: 1rem;
    color: var(--primary04-color);
}

.inputStyle {
    width: 25rem;
    background-color: var(--grey02-color);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: .625rem;
}

button{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.calculateButtonContainer{
    width: 25rem;
}

.font02 {
    font-family: var(--font02-font-family);
}

/* Desktop Media Query */
@media all and (min-width: 1024px) {
    .logoHeader {font-size: 6rem;}  
}


