

:root{
    /* Color Scheme */
    --primary01-color: #FFDF00;
    --primary02-color: #DCB905;
    --primary03-color: #BF9504;
    --primary04-color: #89720A;

    --black-color: #181818;

    --grey01-color: #C0C0C0;
    --grey02-color: #E8E8E8;
    --grey03-color: #F9F9F9;    
}
